/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

$primarycolor: #0383c0;

body {background-color: black; color: white;}

header {
  
}

.navbar {
  margin-bottom: 20px;
  margin-top: 30px;
  background: linear-gradient(white, silver) $primarycolor;
  border: 1px #ccc solid; 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default a:hover {
  background: none;
  color: $primarycolor !important;
  font-weight: bold;
}

#login-field {
  background: black;
  color: white;
}

.btn#login-field:hover {
  background: white;
  color: $primarycolor;
}

.logo {
  width: 100%;
  margin: 40px 0 0 0;
  font-family: 'Oswald', sans-serif;
}

#sign-up-link {
  float: right;
}

.signout {
  font-size: 15px !important;
  font-weight: normal !important;
  padding-bottom: 0; 
  font-family: sans-serif;
  margin-left: 380px;
  a {
    color: black;
  }
}

.signup-form {
  background: linear-gradient(to bottom right, $primarycolor, black);
  padding-bottom: 10px;
  border-radius: 10px;
  color: white;
  width: 70%;
}

#signup-submit-button {
  margin-top: 8px;
}

.primarycolor {
  color: $primarycolor;
}

header form {
  float: right;
  margin-top: 30px;
  background: $primarycolor;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
}

.greeting {
  float: right;
  font-weight: 700px;
  margin-top: 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

#products img {
  width: 130px;
  height: 130px;
}

.jumbotron {
  overflow: auto;
  padding: 0 !important;
  p {
    font-size: 15px;
  } 
}

.tablist {
  float: left;
  margin: 0;
  padding: 0;
  width: 30%;
  li {
    background: #ccc;
    list-style: none;
    color: #666;
    padding: 15px 10px;
    margin-bottom: 5px;
    width: 100%;
    padding-left: 20px;
    font-size: 15px;
  }

  li.active {
    background: $primarycolor;
    a {
      color: white;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: gray;
  }
}

.tab-content {
  float: right;
  width: 70%;
  background: $primarycolor;
  color: white;
  overflow: hidden;
  padding-top: 20px;
  height: 275px;
  .slide-img {
    float: right;
    width: 40%;
  }
}

.tab-text {
  float: left;
  width: 40%;
  margin-left: 40px;
}

.product-show-image {
  width: 90%;
  min-width: 90%;
  padding-top: 50px;
}

hr {
  height: 1px;
  border: none;
  color: #333;
  background-color: #333;
}



@media(max-width: 768px){
  .slide-img {
    display: none;
  }
  .tab-text {
    float: none;
    width: 80%;
  }
  .navbar-form {
    margin-left: 10px;
  }
}

@media(max-width: 960px){
  header form {
    width: 100% !important;
  }
}