
<section>
  <div class="row">
    <div class="col-md-8">
      <div class="row">  
        <div class="col-md-4">
          <%= image_tag(@product.image_url, class: 'product-show-image') %>
        </div>
        <div class="col-md-8">
          <h2><%= @product.title %></h2>
          <div><%= @product.price %></div>
          <hr>

          <p>Quantity:
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select><br>
            <a href="#" class="btn btn-success">Buy Now</a>  
          </p><br>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Decsription</h3>
            </div>
            <div class="panel-body">
              <%= @product.description %>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item">Books</a>
        <a href="#" class="list-group-item">Clothing</a>
        <a href="#" class="list-group-item">Music</a>
        <a href="#" class="list-group-item">Electronics</a>
        <a href="#" class="list-group-item">Studio Equipment</a>
      </div>
    </div>
  </div>
</section>